<% if @data_error %>
  <p class="bg-danger" style="padding: 20px; margin: 5px"><b>Error!</b> <%= @data_error_message %></p>
<% end %>

<h1><%= @chart.title %></h1>

<% if !@chart.description.empty? %>
  <div class="well"><%= @chart.description %></div>
<% end %>

<% if !@data_error %>
  <div id="chart">
    <svg class="chart"></svg>
  </div>
<% end %>

<br />

<%= erb :"/charts/_controls" %>

<h3>Edit Chart</h3>
<%= erb :"/charts/_form" %>

<script type="text/javascript">
  var config = {};
  config.data = <%= @data %>;
  config.xColumn = "<%= @chart.x_column %>";
  config.yColumn = "<%= @chart.y_column %>";
  config.groupingColumn = "<%= @chart.grouping_column %>";
  config.where = "#chart svg";

  <% if @chart.chart_type == "Bar Chart" %>
    sparta.makeBarChart(config);
  <% elsif @chart.chart_type == "Pie Chart" %>
    sparta.makePieChart(config);
  <% elsif @chart.chart_type == "Time Series" %>
    sparta.makeTimeSeries(config);
  <% elsif @chart.chart_type == "Stacked Time Series" %>
    sparta.makeStackedTimeSeries(config);
  <% elsif @chart.chart_type == "Line Chart" %>
    sparta.makeLineChart(config);
  <% end %>
</script>
